{{ $styles := resources.Get "css/baseof.css" | toCSS | minify }}
{{ $scripts := resources.Get "js/baseof.js" | js.Build | minify }}

{{ $androidChromeIcon := resources.Get "android-chrome-192x192.png" }}
{{ $appleTouchIcon := resources.Get "apple-touch-icon.png" }}
{{ $favIcon32 := resources.Get "favicon-32x32.png" }}
{{ $favIcon16 := resources.Get "favicon-16x16.png" }}
{{ $favIcon := resources.Get "favicon.ico" }}

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#FBFBFB" />

    <link rel="icon" sizes="192x192" href="{{ $androidChromeIcon.Permalink }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $appleTouchIcon.Permalink }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $favIcon32.Permalink }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $favIcon16.Permalink }}">
    <link rel="icon" type="image/x-icon" href="{{ $favIcon.Permalink }}">

    <link rel="stylesheet" href="{{ $styles.Permalink }}">
    {{ block "styles" . }}{{ end }}

    <title>
      {{ block "title" . }}
        {{ .Site.Title }}
      {{ end }}
    </title>

    <script defer src="{{ $scripts.Permalink }}"></script>
    {{ block "scripts" . }}{{ end }}
  </head>
  <body>
    {{ partial "header.html" . }}
    
    <main>
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
  </body>
</html>