{{ $baseStyles := resources.Get "css/baseof.css" | toCSS | minify }}
{{ $partialsStyles := resources.Get "css/partials.css" | toCSS | minify }}
{{ $baseScripts := resources.Get "js/baseof.js" | js.Build | minify }}
{{ $mobileNavigationScripts := resources.Get "js/mobile-navigation.js" | js.Build | minify }}

{{ $androidChromeIcon := resources.Get "android-chrome-192x192.png" }}
{{ $appleTouchIcon := resources.Get "apple-touch-icon.png" }}
{{ $favIcon32 := resources.Get "favicon-32x32.png" }}
{{ $favIcon16 := resources.Get "favicon-16x16.png" }}
{{ $favIcon := resources.Get "favicon.ico" }}

{{ $normalFont := resources.Get "fonts/OpenSans.ttf" }}
{{ $italicFont := resources.Get "fonts/OpenSans-Italic.ttf" }}

{{ $faceImage := resources.Get "images/big-face.webp" }}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#BD1839" />

    <meta
      name="description"
      content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}"
    >
    <meta
      name="keywords"
      content="{{ if .Params.keywords }}{{ .Params.keywords }}{{ else }}{{ .Site.Params.defaultKeywords }}{{ end }}"
    >
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="{{ .Page.Title }} | Hazem Krimi">
    <meta
      property="og:description"
      content="{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Site.Params.defaultDescription }}{{ end }}"
    >
    <meta
      property="og:image"
      content="{{ $faceImage.Permalink }}"
    >
    <meta property="og:url" content="{{ .Page.Permalink }}">
    {{ block "meta" . }}{{ end }}
    
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
    {{ end }}
    
    <link rel="canonical" href="{{ .Page.Permalink }}">
    <link rel="icon" sizes="192x192" href="{{ $androidChromeIcon.Permalink }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ $appleTouchIcon.Permalink }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ $favIcon32.Permalink }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ $favIcon16.Permalink }}">
    <link rel="icon" type="image/x-icon" href="{{ $favIcon.Permalink }}">

    <link rel="stylesheet" href="{{ $baseStyles.Permalink }}">
    <link rel="stylesheet" href="{{ $partialsStyles.Permalink }}">
    {{ block "styles" . }}{{ end }}

    <title>
      {{ block "title" . }}
        {{ .Page.Title }} | Hazem Krimi
      {{ end }}
    </title>

    <script defer src="{{ $baseScripts.Permalink }}"></script>
    <script defer src="{{ $mobileNavigationScripts.Permalink }}"></script>
    {{ block "scripts" . }}{{ end }}
  </head>
  <body>
    {{ partial "header.html" . }}
    {{ partial "mobile-navigation.html" . }}
    
    <main>
      {{ block "main" . }}{{ end }}
    </main>

    {{ partial "footer.html" . }}
    {{ template "_internal/google_analytics.html" . }}
  </body>
</html>
