{{ define "styles" }}
    {{ $styles := resources.Get "css/single.css" | toCSS | minify }}

    <link rel="stylesheet" href="{{ $styles.Permalink }}" />
{{ end }}

{{ define "main" }}
    {{ partial "breadcrumb.html" . }}

    <section id="metadata">
        <h1>{{ .Title }}</h1>
        <div>
            <span>{{ readFile "assets/icons/calendar.svg" | safeHTML }} {{ .Date.Format .Site.Params.dateFormat }}</span>
            <span>{{ readFile "assets/icons/clock.svg" | safeHTML }} {{ printf "%d minute(s) read" .ReadingTime }}</span>
        </div>
    </section>
    
    <section id="content">
        <div>
            {{ .Content }}
        </div>
    </section>
{{ end }}
