:root {
  --about-card-light-background: var(--partial-light-background);
  --about-card-dark-background: var(--partial-dark-background);
  --button-light-background: var(--partial-dark-background);
  --button-dark-background: #353535;
  --card-light-background: var(--partial-light-background);
  --card-dark-background: var(--partial-dark-background);
  --input-light-background: var(--partial-light-background);
  --input-dark-background: #2d2d2d;
  --footer-light-background: var(--partial-light-background);
  --footer-dark-background: var(--partial-dark-background);
  --header-light-background: var(--partial-light-background);
  --header-dark-background: #676666;
  --nav-light-background: var(--partial-light-background);
  --nav-dark-background: var(--partial-dark-background);
  --toc-light-background: var(--partial-light-background);
  --toc-dark-background: var(--partial-dark-background);
}

#about-card {
  background-color: var(--about-card-background);
  color: var(--text);
  border-radius: 1.875rem;
  padding: 3.5rem 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  column-gap: 2rem;
}

#about-card img {
  width: 8.9375rem;
  height: 8.9375rem;
}

#about-card h3 {
  margin-bottom: 1.75rem;
  text-transform: capitalize;
}

#about-card p {
  margin-bottom: 4rem;
}

#about-card #links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.breadcrumb {
  margin-bottom: 1.5rem;
}

.breadcrumb ol {
  padding-left: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li:not(:last-child)::after {
  content: '›';
  margin: 0rem 0.5rem;
}

.breadcrumb a {
  text-transform: capitalize;
}

.breadcrumb .tag {
  text-transform: lowercase;
}

.card {
  background-color: var(--card-background);
  color: var(--text);
  border-radius: 1.875rem;
  padding: 3.5rem 2.5rem;
  margin-bottom: 2rem;
}

.card h3 {
  margin-bottom: 1.75rem;
  text-transform: capitalize;
}

.card .date {
  font-weight: bold;
}

.card p {
  margin-top: 1rem;
}

.card #links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .read-more,
.card .demo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.card .demo {
  background-color: #353535;
  color: var(--white);
  border-radius: 0.4375rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.card .demo .eye {
  stroke: var(--white);
}

input,
textarea,
button,
#submission-status {
  border: none;
  border-radius: 0.5625rem;
  color: var(--text);
}

input,
textarea {
  padding: 1.2rem 1.9rem;
  background-color: var(--input-background);
}

textarea {
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 1.7rem;
}

form input,
form textarea {
  width: 100%;
}

form div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.7rem;
}

form button,
form #submission-status {
  padding: 1rem 2.8rem;
  background-color: var(--button-background);
  color: var(--white);
}

form #submission-status {
  width: auto;
  display: none;
}

footer #links,
header #links,
#mobile-navigation #links {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

footer #links a,
header #links a,
header #menus a,
#mobile-navigation #links a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

footer {
  width: 100%;
  padding: 3rem 8rem;
  margin-top: 2.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5rem;
  background-color: var(--footer-background);
  color: var(--text);
}

footer #footer-face {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

footer #copyright {
  font-size: 0.875rem;
}

header,
#mobile-navigation {
  width: 85%;
  border-radius: 0.75rem;
  text-transform: uppercase;
  color: var(--text);
}

header {
  margin: 2.5rem auto;
  padding: 0.938rem 2.188rem;
  background-color: var(--header-background);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#mobile-navigation {
  background-color: var(--nav-background);
  display: none;
  position: fixed;
  flex-direction: column;
}

header #header-face {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

header #header-face span,
footer #footer-face span {
  font-size: 1.17rem;
  font-weight: 600;
}

header #menus a,
#mobile-navigation #menus a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

header #menus {
  display: flex;
  align-items: center;
  column-gap: 1.563rem;
}

#mobile-navigation #menus {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  row-gap: 3.125rem;
}

#mobile-navigation hr {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

#mobile-navigation #links {
  display: flex;
  justify-content: end;
  column-gap: 1.5rem;
}

#mobile-navigation #links .theme-toggler {
  margin-right: auto;
}

header #nav-toggler {
  display: none;
}

.theme-toggler,
#nav-toggler {
  cursor: pointer;
}

.pagination {
  display: flex;
  justify-content: end;
  align-items: center;
}

.pagination {
  display: flex;
  column-gap: 1rem;
}

.pagination .pagination ul,
.pagination li {
  list-style: none;
}

.pagination a {
  border-radius: 0.5625rem;
  background-color: #8b8b8b;
  color: var(--white);
  padding: 0.25rem 0.75rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.pagination a.first,
.pagination a.last {
  background-color: #606060;
}

.pagination a.active {
  background-color: #232323;
}

#table-of-contents {
  position: sticky;
  top: 3rem;
  margin-top: 3rem;
  height: 25rem;
  max-height: 25rem;
  padding: 1.2rem 1.6rem;
  border-radius: 0.75rem;
  background-color: var(--toc-background);
}

#table-of-contents span {
  font-weight: bold;
  font-size: 1.5rem;
}

#table-of-contents nav {
  margin-top: 0.5rem;
}

#table-of-contents nav ul {
  list-style-type: none;
  padding-inline-start: 2rem;
  margin-bottom: 0rem;
}

#table-of-contents nav > ul:first-of-type {
  padding: 0rem;
}

.vertical-separator {
  border-left: 1px solid var(--text);
  height: 24px;
  opacity: 0.25;
}

hr {
  color: var(--text);
  opacity: 0.25;
}

@media only screen and (max-width: 768px) {
  .pagination {
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  #about-card {
    flex-direction: column;
    row-gap: 2rem;
  }

  #about-card img {
    align-self: center;
  }

  .card {
    padding: 2.5rem 1.5rem;
  }

  .card h3 {
    margin-bottom: 1.25rem;
  }

  .card p {
    margin-bottom: 1.75rem;
  }

  footer {
    padding: 3rem 5rem;
    row-gap: 3rem;
  }

  header,
  #mobile-navigation {
    margin: 1.5rem auto;
    padding: 0.938rem 1.25rem;
  }

  header #menus,
  header #links {
    display: none;
  }

  header #nav-toggler {
    display: initial;
  }
}
