{{ $cv := resources.Get "hazem-krimi.pdf" }}
{{ $faceImage := resources.Get "images/borded-face.webp" }}

<div id="about-card">
  <img src="{{ $faceImage.Permalink }}" alt="Hazem Krimi's face" />
  <div>
    <p>
      I am a software engineer with a extensive experience building user-friendly web and cross-platform mobile applications using React and React Native with TypeScript. Similarly, I have experience building APIs using Node.js and recently using Scala. Recently, I got into DLT using Corda with Kotlin.
    </p>
    <div id="links">
      <a href="{{ $cv.Permalink }}" target="_blank">
        Download CV
      </a>
      <a class="read-more" href="{{ urls.JoinPath .Site.BaseURL "about" }}">
        Read more about me
      </a>
    </div>
  </div>
</div>
