{{ $cv := resources.Get "hazem-krimi.pdf" }}
{{ $faceImage := resources.Get "images/borded-face.webp" }}

<div id="about-card">
  <img src="{{ $faceImage.Permalink }}" alt="Hazem Krimi's face" />
  <div>
    <p>
      I am a software engineer with a extensive experience building AI-powered and user-friendly web and cross-platform mobile applications using various technologies including React, React Native, TypeScript, Golang, Rust, Kotlin and Scala to name a few.
    </p>
    <div id="links">
      <a href="{{ $cv.Permalink }}" target="_blank">
        Download CV
      </a>
      <a class="read-more" href="{{ urls.JoinPath .Site.BaseURL "about" }}">
        Read more about me
      </a>
    </div>
  </div>
</div>
