{{ $styles := resources.Get "css/partials/contact-form.css" | toCSS | minify }}
{{ $scripts := resources.Get "js/partials/contact-form.js" | js.Build | minify }}

<link rel="stylesheet" href="{{ $styles.Permalink }}" />
<script defer src="{{ $scripts.Permalink }}"></script>

<form
  action="{{ .Site.Params.formSpreeURL }}"
  method="POST"
>
  <input name="name" placeholder="Your name" required type="text" />
  <input name="email" placeholder="Your email" required type="email" />
  <textarea
    cols="30"
    name="message"
    placeholder="Your message"
    required
    rows="10"
  ></textarea>
  <div>
    <button type="submit">Submit</button>
    <div id="submission-status"></div>
  </div>
</form>
