{{ $faceImage := resources.Get "images/small-face.webp" }}
{{ $cv :=resources.Get "cv.pdf" }}

<footer>
  <div id="footer-face">
    <img src="{{ $faceImage.Permalink }}" alt="Hazem Krimi" />
    <span>Hazem Krimi</span>
  </div>
  <div id="links">
    <a
      aria-label="Hazem Krimi's Linkedin profile"
      href="https://www.linkedin.com/in/hazemkrimi"
      target="_blank"
    >
      {{ readFile "assets/icons/linkedin.svg" | safeHTML }}
    </a>
    <a
      aria-label="Hazem Krimi's Twitter or X profile"
      href="https://twitter.com/HazemKrimi"
      target="_blank"
    >
      {{ readFile "assets/icons/twitter.svg" | safeHTML }}
    </a>
    <a
      aria-label="Hazem Krimi's Github profile"
      href="https://github.com/hazemKrimi"
      target="_blank"
    >
      {{ readFile "assets/icons/github.svg" | safeHTML }}
    </a>
    <a
      aria-label="Hazem Krimi's content RSS feed"
      href="{{ urls.JoinPath .Site.BaseURL "index.xml" }}"
      target="_blank"> {{ readFile "assets/icons/rss.svg" | safeHTML }}
    </a>
    <a
      aria-label="Hazem Krimi's Email"
      href="mailto:me@hazemkrimi.tech"
      target="_blank"
    >
      {{ readFile "assets/icons/mail.svg" | safeHTML }}
    </a>
    <a
      aria-label="Hazem Krimi's CV"
      href="{{ $cv.Permalink }}" target="_blank"
    >
      {{ readFile "assets/icons/cv.svg" | safeHTML }}
    </a>
  </div>
  <p id="copyright"></p>
  <script>
    const copyright = (document.querySelector(
      '#copyright'
    ).innerHTML = `Hazem Krimi &copy ${new Date().getFullYear()}`);
  </script>
</footer>
