{{ $cv := resources.Get "cv.pdf" }}

<nav id="mobile-navigation">
    <div id="menus">
      {{ range site.Menus.main.Sort.ByWeight }}
        <a {{ printf "href=%q" .URL | safeHTMLAttr }}>{{ .Name }}</a>
      {{ end }}
    </div>
    <hr>
    <div id="links">
      <a
        href="#"
        class="theme-toggler"
        aria-label="Theme toggler"
      >
        {{ readFile "assets/icons/moon.svg" | safeHTML }}
        {{ readFile "assets/icons/sun.svg" | safeHTML }}
      </a>
      <a
        aria-label="Hazem Krimi's CV"
        href="{{ $cv.Permalink }}" target="_blank"
      >
        {{ readFile "assets/icons/cv.svg" | safeHTML }}
      </a>
      <a
        aria-label="Hazem Krimi's Email"
        href="mailto:me@hazemkrimi.tech"
        target="_blank"
      >
        {{ readFile "assets/icons/mail.svg" | safeHTML }}
      </a>
      <a
        aria-label="Hazem Krimi's content RSS feed"
        href="{{ urls.JoinPath .Site.BaseURL "index.xml" }}"
        target="_blank"> {{ readFile "assets/icons/rss.svg" | safeHTML }}
      </a>
      <a
        aria-label="Hazem Krimi's Github profile"
        href="https://github.com/hazemKrimi"
        target="_blank"
      >
        {{ readFile "assets/icons/github.svg" | safeHTML }}
      </a>
      <a
        aria-label="Hazem Krimi's Twitter or X profile"
        href="https://twitter.com/HazemKrimi"
        target="_blank"
      >
        {{ readFile "assets/icons/twitter.svg" | safeHTML }}
      </a>
      <a
        aria-label="Hazem Krimi's Linkedin profile"
        href="https://www.linkedin.com/in/hazemkrimi"
        target="_blank"
      >
        {{ readFile "assets/icons/linkedin.svg" | safeHTML }}
      </a>
  </div>
</nav>