{{ define "styles" }}
    {{ $styles := resources.Get "css/index.css" | toCSS | minify }}

    <link rel="stylesheet" href="{{ $styles.Permalink }}" />
{{ end }}

{{ define "main" }}
    <h2>Projects</h2>
    <section id="projects">
        {{ range (where .Site.Pages "Section" "projects") }}
            {{ range .Pages }}
                {{ partial "project-card.html" . }}
            {{ end }}
        {{ end }}
    </section>

    <h2>Contact</h2>
    <p>Here you can contact me personally for any questions or opportunities.</p>
    
    {{ partial "contact-form.html" . }}
{{ end }}