{{ define "styles" }}
    {{ $styles := resources.Get "css/index.css" | toCSS | minify }}

    <link rel="stylesheet" href="{{ $styles.Permalink }}" />
{{ end }}
{{ define "main" }}
    <section>
        <h2>Projects</h2>
        <p>These are all the projects I worked on personally and professionally.</p>
        {{ range (where .Site.Pages "Section" "projects") }}
            {{ range .Pages }}
                {{ partial "project-card.html" . }}
            {{ end }}
        {{ end }}
    </section>

    <section>
        <h2>Contact</h2>
        <p>Here you can contact me personally for any questions or opportunities.</p>

        {{ partial "contact-form.html" . }}
    </section>
{{ end }}
