:root {
  --about-card-light-background: #f2f2f2;
  --about-card-dark-background: #131212;
}

#about-card {
  background-color: var(--about-card-background);
  color: var(--text);
  border-radius: 1.875rem;
  padding: 3.5rem 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  column-gap: 2rem;
}

#about-card img {
  width: 8.9375rem;
  height: 8.9375rem;
}

#about-card h3 {
  font-size: 2rem;
  margin-bottom: 1.75rem;
  text-transform: capitalize;
}

#about-card p {
  margin-bottom: 4rem;
}

#about-card #links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  #about-card {
    flex-direction: column;
    row-gap: 2rem;
  }

  #about-card img {
    align-self: center;
  }
}
