.breadcrumb {
  margin-bottom: 1.5rem;
}

.breadcrumb ol {
  padding-left: 0;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li:not(:last-child)::after {
  content: '›';
  margin: 0rem .5rem;
}

.breadcrumb a {
  text-transform: capitalize;
}

.breadcrumb .tag {
  text-transform: lowercase;
}
