:root {
  --card-light-background: #F2F2F2;
  --card-dark-background: #131212;
}

.card {
  background-color: var(--card-background);
  color: var(--text);
  border-radius: 1.875rem;
  padding: 3.5rem 2.5rem;
  margin-bottom: 2rem;
}

.card h3 {
  font-size: 2rem;
  margin-bottom: 1.75rem;
  text-transform: capitalize;
}

.card .date {
  font-weight: bold;
}

.card p {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.card #links {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card .read-more,
.card .demo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
}

.card .demo {
  background-color: #353535;
  color: var(--white);
  border-radius: 0.4375rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.card .demo .eye {
  stroke: var(--white);
}

@media only screen and (max-width: 1024px) {
  .card {
    padding: 2.5rem 1.5rem;
  }

  .card h3 {
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }

  .card p {
    margin-bottom: 1.75rem;
  }
}
