:root {
  --input-light-background: #f3f3f3;
  --input-dark-background: #2d2d2d;
  --button-light-background: #131212;
  --button-dark-background: #353535;
}

input,
textarea,
button,
#submission-status {
  border: none;
  border-radius: 0.5625rem;
  color: var(--text);
}

input,
textarea {
  padding: 1.2rem 1.9rem;
  background-color: var(--input-background);
}

textarea {
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 1.7rem;
}

form input,
form textarea {
  width: 100%;
}

form div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 1.7rem;
}

form button, form #submission-status {
  padding: 1rem 2.8rem;
  background-color: var(--button-background);
  color: var(--white);
}

form #submission-status {
  width: auto;
  display: none;
}

form button {
  cursor: pointer;
}
