:root {
  --footer-light-background: #ececec;
  --footer-dark-background: #131212;
}

footer {
  width: 100%;
  padding: 3rem 8rem;
  margin-top: 2.5rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 5rem;

  background-color: var(--footer-background);
  color: var(--text);
}

footer #footer-face {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

footer #links {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

footer #copyright {
  font-size: 0.875rem;
}

@media only screen and (max-width: 768px) {
  footer {
    padding: 3rem 5rem;

    row-gap: 3rem;
  }
}
