:root {
  --header-light-background: var(--white);
  --header-dark-background: #676666;
  --nav-light-background: var(--white);
  --nav-dark-background: #121212;
}

header, nav {
  width: 85%;
  border-radius: 0.75rem;
  text-transform: uppercase;
  color: var(--text);
}

header {
  margin: 2.5rem auto;
  padding: 0.938rem 2.188rem;

  background-color: var(--header-background);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  background-color: var(--nav-background);
  display: none;
  position: fixed;
  flex-direction: column;
}

header #header-face {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

header #header-face h3 {
  font-weight: 600;
}

header #menus a, nav #menus a {
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
}

header #menus {
  display: flex;
  align-items: center;
  column-gap: 1.563rem;
}

nav #menus {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: center;
  row-gap: 3.125rem;
}

nav hr {
  margin-top: 3.125rem;
  margin-bottom: 1.25rem;
}

header #links {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

nav #links {
  display: flex;
  justify-content: end;
  column-gap: 1.5rem;
}

nav #links .theme-toggler {
  margin-right: auto;
}

#links .linkedin,
#links .github,
#links .cv-paper-flip,
#nav-toggler svg path {
  stroke: var(--text);
}

#links .twitter,
#links .rss,
#links .cv,
#links .moon > path {
  fill: var(--text);
}

header #nav-toggler {
  display: none;
}

.theme-toggler, #nav-toggler {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  header, nav {
    padding: 0.938rem 1.25rem;
  }

  header #menus, header #links {
    display: none;
  }

  header #nav-toggler {
    display: initial;
  }
}