:root {
  --toc-light-background: #f2f2f2;
  --toc-dark-background: #131212;
}

#table-of-contents {
  margin-top: 3rem;
  height: 30rem;
  max-height: 20rem;
  padding: 1.2rem 1.6rem;
  border-radius: 1.875rem;
  background-color: var(--toc-background);
}

#table-of-contents h3 {
    margin-bottom: 1rem;
}

#table-of-contents nav ul {
  list-style-type: none;
  padding-inline-start: 2rem;
  margin-bottom: 0rem;
}

#table-of-contents nav > ul:first-of-type {
  padding: 0rem;
}
